@import "./var.scss";
*{
  box-sizing: border-box;
}
*:focus{
  outline: none;
}
body{
  margin: 0;
  padding: 0;
  line-height:1;
  background-color: #fff;
}
p,h1,h2,h3,h4,h5,h6,dl, dt, dd, ol, ul, li,form,fieldset,input,textarea,p,blockquote,th,td{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
  text-decoration: none;
  color: #333;
  &:hover{
    color: $color-primary;
    text-decoration: underline;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: 100%;
}
// ivew-ui reset 样式覆盖
.iconfont{
  line-height: 1;
}
.ivu-breadcrumb{
  padding-bottom: 10px;
  border-bottom: 1px solid #e9eaec;
}
.ivu-breadcrumb-item-separator{
  margin: 0 3px !important
}
.ivu-btn{
  padding: 4px 8px;
  i{
    font-size: 12px;
  }
}
.ivu-form{
  padding-bottom: 27px;
  &.ivu-form-inline{
    padding-bottom: 0 !important;
  }
}
.ivu-form-item{
  margin-bottom: 14px !important
}
.ivu-form-item:after, .ivu-form-item:before{
  display: block !important;
  content: " "
}
.ivu-input[readonly]{
  background-color: #f4f4f4;
}
.ivu-select-dropdown-list .ivu-select-item{
  padding: 5px 10px;
}
.ivu-form-item.required > .ivu-form-item-label{
  &:before{
    content: "*";
    color: #f00;
    font-weight: bold;
    margin-right: 3px;
    vertical-align: middle;
  }
}
.ivu-form-item-error-tip{
  padding-top: 0
}
// iview选中行的样式覆盖
.ivu-table-row-highlight td{
  background-color: #23A1F4 !important;
  color: #fff;
}
// jquery confirm 样式覆盖
.jconfirm .container{
  width: 320px;
  margin: 0 auto;
}
// 表格内的按钮
.ivu-table-cell {
  button{
    margin-right: 5px;
  }
}
