@import "./var.scss";
*{
  box-sizing: border-box;
}
*:focus{
  outline: none;
}
body{
  margin: 0;
  padding: 0;
  line-height:1;
  background-color: #fff;
}
p,h1,h2,h3,h4,h5,h6,dl, dt, dd, ol, ul, li,form,fieldset,input,textarea,p,blockquote,th,td{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
  text-decoration: none;
  color: #333;
  &:hover{
    color: $color-primary;
    text-decoration: underline;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: 100%;
}
// ivew-ui reset 样式覆盖
.iconfont{
  line-height: 1;
}
.ivu-breadcrumb{
  padding-bottom: 10px;
  border-bottom: 1px solid #e9eaec;
}
.ivu-breadcrumb-item-separator{
  margin: 0 3px !important
}
.ivu-btn{
  padding: 4px 8px;
  i{
    font-size: 12px;
  }
}
.ivu-form{
  padding-bottom: 27px;
  &.ivu-form-inline{
    padding-bottom: 0 !important;
  }
}
.ivu-form-item{
  margin-bottom: 14px !important
}
.ivu-form-item:after, .ivu-form-item:before{
  display: block !important;
  content: " "
}
.ivu-input[readonly]{
  background-color: #f4f4f4;
}
.ivu-select-dropdown-list .ivu-select-item{
  padding: 5px 10px;
}
.ivu-form-item.required > .ivu-form-item-label{
  &:before{
    content: "*";
    color: #f00;
    font-weight: bold;
    margin-right: 3px;
    vertical-align: middle;
  }
}
.ivu-form-item-error-tip{
  padding-top: 0
}
// iview选中行的样式覆盖
.ivu-table-row-highlight td{
  background-color: #23A1F4 !important;
  color: #fff;
}
// jquery confirm 样式覆盖
.jconfirm .container{
  width: 320px;
  margin: 0 auto;
}
// 表格内的按钮
.ivu-table-cell {
  button{
    margin-right: 5px;
  }
}
.ivu-select-disabled .ivu-select-selection{
  color: #666;
}
// 表格内的字体英文基线以下不显示的问题修复
.ivu-table-cell {
  font-size: 12px;
  line-height: 16px;
}
// 地址联动。当地址会有自动带入值得情况时，改变placeholder属性的字体颜色
.select-show-input .ivu-select-single .ivu-select-selection .ivu-select-placeholder {
  color: #495060;
}
// (iView)全局控制table的宽度最小为1200px
.ivu-table-wrapper {
  min-width: 1118px;
  /*
  * 修改webkit内核的浏览器滚动条
  */
  & .ivu-table-body {
    &::-webkit-scrollbar {
      width: 6px;
      height: 10px;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-track {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      background: #c5dcef;
      border-radius: 5px;
      &:hover {
        background: #add1f0;
      }
    }
  }
  /*
  * end 修改webkit内核的浏览器滚动条
  */
}
// (iView)对于模态框内的table不做最小宽度控制
.pt-modal-dialog .ivu-table-wrapper {
  min-width: 0px;
}
// 在查看详情的表单中（i-form）添加lass="input-label-color"，使其label字体颜色改变
.input-label-color.ivu-form .ivu-form-item-label{
  color: #999;}
